


<h1 class="text-center">Your Email Inbox</h1>

<hr>
  <%= button_to "Receive an email", emails_path, data:{method: "POST"}, class:"btn btn-success mb-2", remote: true %>
  <div class="row">
    <div class="col-4">
      <table class="table">
        <thead class="thead-dark">
        </thead>
        <tbody id="mail_list" class="list-group">  
        <b class="list-group-item text-white bg-dark">Emails</b>
            <% @emails.order(:created_at).each do |email| %>
            <tr>
              <%= render 'email', email: email %>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-8">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Content</th>
          </tr>
        </thead>
        <tbody id="content">

        </tbody>
      </table>
    </div>
  </div>      
