<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin.first_name %> !</h1>
    <p>
      Un nouveau participant s'est inscrit à l'évènement : <%= @event.title %>.
    </p>
    <p>
      Il s'agit de <%= @participant.first_name %>.
    </p>
    <p> À très vite sur lm-eventbrite.com !
  </body>
</html>