<main class="container">
<h1>Editer votre profil</h1>

<%= render 'form', user: @user %>

<%= link_to 'Voir le profil', @user, class:"btn btn-info" %> |
<%= link_to '« Retour Accueil', root_path, class:"btn btn-primary" %>
</main>