body{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

#header{
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.connexion{
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0px 12px;
  font-weight: bold;
  color: #FFF;
  border: 1px solid #4285f4;
  background-color: #4583ed;
}

.apps{
  fill: #727272;
}

#section{
  margin-top: 150px;
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
}

.search{
  height: 35px;
  min-width: 560px;
  display: flex;
  align-items: center;
  border:1px ridge lightgray;
  border-radius: 25px;
  padding: 5px 8px 0px 14px;
}

.search:hover{
  box-shadow: 2px 2px 2px 1px lightgray;
}

.loupe{
  padding-right: 13px;
  margin-top: -5px;
  fill: #9aa0a6;
}

input{
  border : none;
  width: 90%;
  height: 30px;
  font-size: 16px;
  margin-top: -5px;
}

button{
  margin: 6px 6px;
  padding: 0px 16px;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  border: transparent;
  background-color: #f2f2f2;
  color: #5f6368;
}

button:hover{
  border: 1px solid #c6c6c6;
  color: #222;
  cursor: pointer;
  background-color: #f8f8f8;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

footer{
  width: 100%;
  bottom: 0px;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border: 1px solid #e4e4e4;
}

footer div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 27px;
  background-color: #f2f2f2;
  border: 1px solid #e4e4e4;
}

ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

li{
  margin-right: 20px;
}

a{
  color: #5f6368;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

p{
  margin-left: 27px;
  font-size: 15px;
  color: #5f6368;
}