
  <h1>
    Contact : Luca Montaigut
  </h1>

<main class="container">
  <h2>Vous pouvez me contacter sur : </h2>
  <ul>
    <li><a href="mailto:lmontaigut@gmail.com">lmontaigut@gmail.com</a></li> 
    <li> 06.73.82.53.32 </li> 
    <li><a href="https://github.com/luca-montaigut">https://github.com/luca-montaigut</a></li> 
  </ul>
</main>