
<main class="container my-5" style="margin-top : 20px;">
  <div class="card-deck">
    <div class="card text-center bg-light my-3 mx-3" style="border:none; text-align:right;">
      <img id="bibi" class="card-img-top rounded-circle" src="/images/profil.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Luca Montaigut</h5>
        <p class="card-text">Developpeur débutant chez THP</p>
      </div>
    </div>

    <div class="card text-center bg-light my-3 mx-3" style="border:none;">
      <img id="alfred" class="card-img-top rounded-circle" src="/images/baptiste.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Baptiste</h5>
        <p class="card-text">Developpeur débutant chez THP</p>
      </div>
    </div>

    <div class="card text-center bg-light my-3 mx-3" style="border:none;">
      <img id="alfred" class="card-img-top rounded-circle" src="/images/xuan.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Xuan</h5>
        <p class="card-text">Developpeuse débutante chez THP</p>
      </div>
    </div>


    <div class="card text-center bg-light my-3 mx-3" style="border:none;">
      <img id="alfred" class="card-img-top rounded-circle" src="/images/marius.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Marius</h5>
        <p class="card-text">Developpeur débutant chez THP</p>
      </div>
    </div>


  </div>

  <div class="card text-center bg-light my-3 mx-3" style="border:none;">
    <img id="alfred" class="card-img-top rounded-circle" src="/images/alfred.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Alfred</h5>
      <p class="card-text">Qui nous supporte au quotidien</p>
    </div>
  </div>
</main>
<footer id="lazyrabbit">
  <div>
    <p>  (\(\</p>
    <p>  ( -.-)</p>
    <p>  o_(")(")</p>
  </div>  
</footer>